
/* NOT FOR THE MOVING IMAGE */

:root {
  --dark: #030303;
  --light: #ffffff;
  font-family: 'Indie Flower', cursive;
  background-color: var(--light);
}
h1 {
  font-size: 6rem;
  margin-left: 50px;
  color: var(--dark);
}
h2 {
  font-size: 3rem;
  color: var(--dark);
}

/* FOR THE MOVING IMAGE THINGY */

* {  margin: 0; padding: 0;}
body>header {
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset; WOULDN'T WORK STUPID THINGGGGGG */
  background-attachment: fixed;
  background-image: url("https://img.freepik.com/premium-vector/seamless-pattern-with-autumn-doodles-contour-image-forest-mushrooms-leaves-acorns-berries-background-with-black-drawings-seasonal-decoration-vector-fall-infinite-ornament_225596-258.jpg?w=2000");
  background-position-y: top 4.2360679775rem;
  background-repeat: repeat;
  background-size: 450px;
  height: 15rem;
  overflow: hidden;
  position: relative;
}
body>header::before {
  animation: background-translate 10s linear infinite;
  background-image: url("https://img.freepik.com/premium-vector/seamless-pattern-with-autumn-doodles-contour-image-forest-mushrooms-leaves-acorns-berries-background-with-black-drawings-seasonal-decoration-vector-fall-infinite-ornament_225596-258.jpg?w=2000");
  background-position-y: top 4.2360679775rem;
  background-repeat: repeat;
  background-size: 450px;
  bottom: -100%;
  content: '';
  height: 200%;
  left: -100%;
  position: absolute;
  width: 200%;
}
@keyframes background-translate {
  0% {
    transform: translate(0, 0) rotate(0.001deg)
  }

  100% {
    transform: translate(128px, -128px) rotate(0.001deg);
  }
}
